**/.DS_Store
**/libs/
**/logs/
**/.settings
**/.htaccess
**/.project
**/favicon.ico
**/humans.txt
**/robots.txt
**/.buildpath
**/node_modules/
**/dist/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/test/unit/coverage/
**/test/e2e/reports/
**/selenium-debug.log
**/.sass-cache
**/target
**/package-lock.json
**/*.code-workspace
**/.env
**/.env.local
**/.env.dev
**/.env.prod
**/.env.development
**/.env.production
**/*.key
**/*.ext
**/*.csr
**/*.crt
**/*.srl
**/*.pem

# Editor directories and files
**/.idea
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
