@import "~@/node_modules/primeicons/primeicons.css";
@import "~@/node_modules/primevue/resources/themes/saga-blue/theme.css";
@import "~@/node_modules/primevue/resources/primevue.min.css";

.common-schemas {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	
	.json-editor {
		order: 0;
		flex-basis: 50%;
		max-width: 50%;
		max-height: 100vh;

		.jse-contents {
			overflow: auto;
			max-height: calc(100vh - 61px);
		}
	}

	.form-editor {
		order: 1;
		flex-basis: 50%;
		max-width: 50%;
		max-height: 100vh;
		overflow: auto;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;

		.form-container {
			display: table;
			margin-bottom: 1rem;
			.field {
				margin: 1rem 0;
				.field-name {

				}

				.field-element {

				}
			}
		}
	}

	@media (max-width: 1024px) {
	}

	@media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
	}
}

.common-schemas-light {
	@extend .common-schemas !optional;
}
