@import "~@/node_modules/primeicons/primeicons.css";
@import "~@/node_modules/primevue/resources/themes/arya-green/theme.css";
@import "~@/node_modules/primevue/resources/primevue.min.css";

@import "~@/node_modules/svelte-jsoneditor/themes/jse-theme-dark.css";

.common-templates {
	.heading {
		color: #fff;
		font-size: 1.7rem;
		font-weight: normal;
		text-transform: capitalize;
		margin: 1rem;
	}

	.existing-schemas {
		padding: 1rem;
		.cut {
			max-width: 15rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.link {
			cursor: pointer;
		}

		.in-line {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: center;

			.icon-floating-left {
				margin-left: -1.5rem;
				padding-right: .5rem;
			}
		}

		.copy {
			cursor: pointer;
			margin-left: .25rem;
		}
	}

	.schema-name {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;

		color: #fff;
		margin: 1rem;

		max-width: 49%;
		width: 49%;
		
		.schema-name-label {

		}

		.schema-name-input {
			outline: none;
			max-width: 100%;
			width: 100%;

			input {
				max-width: 100%;
				width: 100%;		
			}
		}
	}

	.schemas {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: flex-start;
		align-items: flex-start;

		padding: 1rem;
		
		.form-editor {
			order: 0;
			flex-basis: 50%;
			max-width: 50%;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;

			.form-container {
				display: table;
				margin-bottom: 1rem;
				max-width: 100%;
				width: 100%;
				margin: 0 2rem;
			}
		}

		.form-helper {
			order: 1;
			flex-basis: 50%;
			max-width: 50%;

			.field {
				margin: 1rem 0;
				color: #fff;

				.p-inputtext {
					width: 100%;
				}

				.field-name {

				}

				.field-element {

				}
			}
		}
	}

	.controls {
		margin: 1rem;
	}

	@media (max-width: 1024px) {
	}

	@media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
	}
}

.common-templates-dark {
	@extend .common-templates !optional;
}
