@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: url('~@/src/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url('~@/src/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
	src: url('~@/src/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: italic;
	src: url('~@/src/fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
	src: url('~@/src/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	src: url('~@/src/fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
}
